body{
    font-family: 'Poppins', sans-serif;
}
.main-nav{
    display: inline-block;
    text-align: right;
    width: 100%;
}
.main-nav__item{
    display: inline;
    width: 20px;
    margin: 50px 15px;
}
.main-nav__item a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: #dce7dc;
    border-radius: 10px;
}
.contract-button{
    margin-right: 75px;
}
.half-width{
    width: 40%;
    padding-left: 5%;
    margin-left: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}
section{
    height: 600px;
}
h1{
    font-size: 50px;
    font-weight: 800;
}
h2{
    font-size: 40px;
}
span{
    color: #ff8d79;
}
.link-button{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
    background-image: linear-gradient(180deg,#db1679,#6632f7);
}
p{
    margin-bottom: 30px;
}
.pro-div{
    width: 28%;
    margin: 2%;
    background-color: white;
    float: left;
}
.prject-img{
    width: 100%;
}
.pro-div h3{
    text-align: center;
}
.pro-div p{
    text-align: center;
}
#project-section{
    padding: 50px 35px;
    background-color: ghostwhite;
}
#project-section h2{
    text-align: center;
    font-weight: 800;
    font-size: 40px;
}
.suppot-section{
    background-image: url(images/Background/support.png);
    background-size: 75% 30%;
    background-repeat: no-repeat;
    background-position: top;
    height: 500px;
    margin-top: 80px;
}
.cus-sup{
    width: 60%;
    color: white;
    text-align: center;
    float: left;
    margin: 35px 20px;
}
.chat-opt{
    width: 8%;
    float: left;
    text-align: center;
    margin: 50px;
    background-image: linear-gradient(180deg,#c5ec19,#2dd627);
}
.hobby-sec{
    padding: 10px;
    height: 680px;
}
.my-hobbies{
    width: 38%;
    box-shadow: 10px 10px 40px gray;
    float: left;
    margin-left: 5%;
    padding: 2%;
    text-align: center;
    height: 500px;
    border-radius: 10px;
}
.hobby-img{
    width: 500px;
    height: 300px;
}
.hobby-sec h2{
    text-align: center;
}
.chat-area{
    height: 200px;
    margin: 50px;
}
.stay-us{
    text-align: center;
    margin: 0;
}
.stay-us h2{
    margin-top: 3px;
    margin-bottom: 20px;
}
.stay-us p{
    margin-bottom: 0px;
}
.connected-link{
    width: 50px;
    height: auto;
    margin: 8px;
}